.mars-current-weather {
  background: rgba(0, 0, 0, 0.7);
  padding: 2em;
  max-width: 1000px;
  margin: 4em 0 0 4em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.section-title {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  margin: 0;
}

.section-title--date {
  font-size: var(--fs-xl);
}

.reading {
  font-size: var(--fs-h1);
  margin: 0;
  color: var(--clr-gray);
}

.date {
  grid-column: 1/2;
}
.date__day {
  font-size: var(--fs-h2);
  margin: 0;
  color: var(--clr-gray);
  font-weight: var(--fw-light);
}

.temp {
  --border: solid 0.2em var(--clr-accent-dark);
  grid-column: 2/3;
  border-left: var(--border);
  border-right: var(--border);
  padding: 0 2em;
}

.wind {
  grid-column: 3/4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-self: start;
  grid-template-rows: min-content 1fr;
}

.section-title,
.reading {
  grid-column: 2/3;
}

.wind__direction {
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
  place-items: center;
  grid-row: 1 / span 2;
}

.wind__arrow {
  --direction: 0deg;
  --size: 0.75rem;
  height: calc(var(--size) * 3);
  width: var(--size);
  background: var(--clr-accent-dark);
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  transform: translateY(-50%) rotate(var(--direction));
  transform-origin: bottom center;
  transition: transform 500ms ease;
}

.info {
  grid-column: 1/3;
}

.unit {
  grid-column: 3/4;
}
