<div class="previuos-weather">
  <label for="weather-toggle" class="show-previous-weather-label"
    >&#8593; <span class="sr-only">Show previous weather</span>
  </label>
  <input
    type="checkbox"
    id="weather-toggle"
    class="show-previous-weather-toggle"
  />
  <h2 class="main-title">Previous 7 days</h2>
  <div class="previous-days">
    <div class="previous-day">
      <h3 class="previous-day__sol">Sol 371</h3>
      <p class="previous-day__date">September 31</p>
      <p class="previous-day__temp">High: 20C</p>
      <p class="previous-day__temp">Low: -150C</p>
      <button class="previous-day__more-info"></button>
    </div>
  </div>
</div>
